* {
  padding: 0;
  margin: 0;
}

/* header {
    border: 0;
} */

footer {
    background-color: gainsboro;
}

#icon {
    margin: 0.5em;
    border-radius: 50%;
    /* margin-bottom: 5px; */
    box-shadow: 0 0 50px 80px white inset;
}

.turquoise {
    background-color: turquoise;
}

.flex-container {
    display: flex;
}